@import "tailwindcss";

html, body {
  background: #000;
  color: #fff;
  margin: 0;
  padding: 0;

  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;

  /* Firefox */
  scrollbar-width: none;

  /* IE / Edge antigo */
  -ms-overflow-style: none;
}

main, section {
  height: auto;
  overflow: visible;
}

/* Chrome, Safari */
main::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


pre {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.6;

  white-space: pre-wrap;
}

pre div {
  display: block;
}
.cursor {
  display: inline-block;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

a {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  background: #fff;
  color: #000;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}